{% extends "layout.html" %}
{% block title %}Mainpage{% endblock title %}
{% block content %}
{% if post %}
<div class="row mb-2">
  {%for obj in post%}
    <div class="col-md-6 ">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">{{ obj.category }}</strong>
          <h3 class="mb-0">{{obj.title}}</h3>
          <div class="mb-1 text-muted">{{obj.date|date:"b j"}}</div>
          <p class="card-text mb-auto">{{obj.short_desc}}</p>
          <a href="{% url 'News_Feed:detail' pk=obj.id %}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">


        </div>
      </div>
    </div>
  {% endfor %}
  </div>
{% endif %}

{% endblock %}
